@import 'bootstrap/dist/css/bootstrap.min.css';


.container {
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top:100px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00796b;
}

.result {
  text-align: center;
  width: 100%; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#del:hover{
  opacity:0.6;
}